@font-face {
  font-family: 'PaladinRus';
  src: url('../fonts/Paladin/PaladinRus.eot');
  src: url('../fonts/Paladin/PaladinRus.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Paladin/PaladinRus.woff2') format('woff2'),
    url('../fonts/Paladin/PaladinRus.woff') format('woff'),
    url('../fonts/Paladin/PaladinRus.ttf') format('truetype'),
    url('../fonts/Paladin/PaladinRus.svg') format('svg');
}

@font-face {
  font-family: 'AntikvarShadow-Roman';
  src: url('../fonts/Antikvar/AntikvarShadow-Roman.eot');
  src: url('../fonts/Antikvar/AntikvarShadow-Roman.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Antikvar/AntikvarShadow-Roman.woff2') format('woff2'),
    url('../fonts/Antikvar/AntikvarShadow-Roman.woff') format('woff'),
    url('../fonts/Antikvar/AntikvarShadow-Roman.ttf') format('truetype'),
    url('../fonts/Antikvar/AntikvarShadow-Roman.svg') format('svg');
}

/* Шапка */
body {
  min-width: 1040px;
  margin: 0;
  padding: 0;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.page__header {
  min-height: 200px;
  padding-top: 15px;
  background-image: url("header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__top {
  margin-bottom: 105px;
}

.header__logo {
  float: left;
  width: 205px;
  height: 55px;
}

.header__logo img {
  width: 180px;
  height: 162px;
  margin-left: -180px;
}

.main__nav {
  float: left;
  width: 630px;
  margin: 0;
  margin-top: 18px;
  margin-left: 20px;
  padding: 0;
  list-style: none;
}

.main__nav li {
  font-family: 'AntikvarShadow-Roman';
  text-shadow: 1px 1px 1px #000;
  font-size: 14pt;
  float: left;
  margin-right: 50px;
  text-transform: uppercase;
}

.main__nav a {
  color: #f2f2f2;
  text-decoration: none;
}

.main__nav a:hover {
  text-decoration: underline;
}

.main__nav a:active {
  color: rgba(255, 255, 255, 0.3);
}

.promo {
  margin-top: -60px;
}

.promo h3 {
  font-size: 49px;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000;
  font-family: 'PaladinRus';
  text-decoration: none;
  line-height: 55px;
  text-align: center;
  margin-top: -100px;
}


/* Второй блок — описание и слайдер ада */
.section__title {
  margin: 0;
  margin-right: 180px;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  text-shadow: 1px 1px 1px #000;
  font-family: 'PaladinRus';
  color: #a8280b;
}

.hell {
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #f5e9e0;
  position: relative;
}

.hell dl {
  width: 80%;
  margin: 0;
  padding: 0;
}

.hell dd {
  position: relative;
  margin: 0;
  padding-left: 130px;
}

.hell dd img {
  position: absolute;
  top: 0px;
  left: 40px;
  width: 51%;
  height: 103%;
  border-radius: 10px;
}

.hell p {
  font-family: 'AntikvarShadow-Roman';
  margin-left: 53%;
  margin-right: -15%;
  margin-top: -40%;
  text-align: justify;
}

.container_slider {
  width: 500px;
  height: 300px;
}

.photo_slider {
  position: absolute;
  animation: round 28s infinite;
  opacity: 0;
  max-width: 100%;
}

@keyframes round {
  25% {
    opacity: 1
  }

  40% {
    opacity: 0
  }
}

img:nth-child(1) {
  animation-delay: 24s;
}

img:nth-child(2) {
  animation-delay: 20s;
}

img:nth-child(3) {
  animation-delay: 16s;
}

img:nth-child(4) {
  animation-delay: 12s;
}

img:nth-child(5) {
  animation-delay: 8s;
}

img:nth-child(6) {
  animation-delay: 4s;
}

img:nth-child(7) {
  animation-delay: 1s;
}


/* Третий блок — круги ада */
.circles__of__hell {
  padding-top: 70px;
  padding-bottom: 90px;
  background-color: #f2f2f2;
  position: relative;
}

.circles__of__hell dl {
  width: 90%;
  margin: 20px;
  padding: 0;
}

.circles__of__hell dt {
  margin: 0;
  margin-bottom: 10px;
  font-family: 'PaladinRus';
}

.circles__of__hell dd {
  position: relative;
  min-height: 100px;
  margin: 0;
  padding-left: 130px;
}

.circles__of__hell dd+dt {
  margin-top: 70px;
}

.circles__of__hell dd img {
  position: absolute;
  top: -35px;
  left: -20px;
  width: 125px;
  height: 125px;
  border-radius: 20px;
}

.circles__of__hell img {
  transition: 1s;
  cursor: pointer;
}

.circles__of__hell img:hover {
  transform: scale(1.3);
}

.circles__of__hell dd p {
  margin: 0;
  font-family: 'AntikvarShadow-Roman';
}

.reference__title {
  display: inline;
  font-size: 24px;
  margin-left: 130px;
}

.circles__of__hell b {
  text-decoration: underline;
  cursor: pointer;
}

.circles__of__hell b:hover {
  text-decoration: none;
}

/* Вывод подсказки */
[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  /* Выводим текст */
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  transition: 1s;
  pointer-events: none;
  padding: 0.5em;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
  background-color: #efdfd0;
  left: 0;
  top: 0;
  font-weight: normal;
  border-radius: 20px;
}

[data-tooltip]:hover::after {
  opacity: 1;
  top: 2em
}


/* Футор */
.page__footer {
  color: #c3c3c3;
  background-color: #363636;
  padding-top: 40px;
  padding-bottom: 100px;
}

.footer__social {
  float: left;
  width: 30%;
  font-size: 0;
}

.footer__copyright {
  float: right;
  width: 28%;
  margin-top: 17px;
  color: #ffffff;
  text-transform: normal;
  font-family: 'PaladinRus';
  font-size: 25px;
}

.footer__copyright .heart {
  display: inline-block;
  width: 27px;
  height: 24px;
  font-size: 0;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: -5px -419px;
}

.footer__copyright a {
  color: #ffffff;
  text-decoration: none;
}

/* Наводим мышкой на элемент */
.footer__copyright a:hover {
  text-decoration: underline;
}

.sm a {
  margin: 0 20px;
  width: 60px;
  height: 60px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 24px;
  overflow: hidden;
  font-size: 28px;
  transition: .3s linear;
  position: relative;
}

.sm a:hover {
  transform: scale(1.3);
  border-radius: 50%;
}

.sm a i::before {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background-size: 200% 200%;
  background-position: 75% 75%;
  top: -10px;
  left: 0;
  line-height: 80px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .5s linear;
}

.sm a:hover i::before {
  background-position: 0% 0%;
}

.fa-facebook-f::before {
  background-image: linear-gradient(135deg, #3b5998 30%, #0a3d62 50%);
}

.fa-instagram::before {
  background-image: linear-gradient(135deg, #c32aa3 30%, #0a3d62 50%);
}

.fa-vk::before {
  background-image: linear-gradient(135deg, #1da1f2 30%, #0a3d62 50%);
}


/* Кнопка "Вверх" */
.arrowUp {
  position: fixed;
  bottom: 5%;
  right: 3%;
  color: #fff;
  width: 4.5%;
  height: 9%;
  background: linear-gradient(113deg, #333333 50%, #e9bc97 50%);
  background-size: 300%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 50px;
  border-radius: 50px;
  transition: .5s;
}

.arrowUp:hover {
  background-position: 100% 0;
}